@page "/"
@using BlazorServerLoginLogoutDemo.Authentication

@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigation

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="row justify-content-md-center mb-5">
        <div class="col-md-auto">
            <button @onclick="Logout">Logout</button>
        </div>
    </div>
</div>
@code {
    private async Task Logout()
    {
        await ((SystemAuthenticationStateProvider)authenticationStateProvider).LogoutAsync();
        navigation.NavigateTo(navigation.BaseUri);
    }
}

