@page "/"
@using BlazorServerLoginLogoutDemo.Authentication

@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigation
@inject IHttpContextAccessor httpContextAccessor

<div class="container">
    <div class="row justify-content-md-center mb-5">
        <AuthorizeView>
            <Authorized>
                <div class="col-md-auto">
                    <span>Hello, @context.User.Identity?.Name</span>
                </div>
                <div class="col-md-auto">
                    <button @onclick="Logout">Logout</button>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
@code {
    private async Task Logout()
    {
        await ((SystemAuthenticationStateProvider)authenticationStateProvider).LogoutAsync();
        navigation.NavigateTo(navigation.BaseUri);
    }
}

