@inherits LayoutComponentBase

<PageTitle>BlazorServerLoginLogoutDemo.BlazorApp</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
       <BlazorServerLoginLogoutDemo.BlazorApp.Pages.Login></BlazorServerLoginLogoutDemo.BlazorApp.Pages.Login>
    </NotAuthorized>
</AuthorizeView>
